<div class="row">
  <div class="col-md-8">

    <h2 class="text-center">Edit My Account</h2>
    <br>
    <h4>Change email or password</h4>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :patch }) do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control', placeholder: "Enter email" %>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div class="form-group">
          <p>Waiting confirmation for:</p>
          <%= resource.unconfirmed_email %>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control', placeholder: "Enter password" %>
        <i>(leave blank if you don't want to change it)</i>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Enter password confirmation" %>
      </div>
      <div class="form-group">
        <%= f.password_field :current_password, class: 'form-control', placeholder: "Enter password" %>
        <i>(we need your current password to confirm your changes)</i>
      </div>
      <div class="form-group">
        <%= f.submit "Update", class: 'btn btn-success' %>
      </div>
    <% end %>

    <h4>Update personal information</h4>
    <%= form_for(current_user) do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control', placeholder: "Enter name", autofocus: true %>
      </div>
      <div class="form-group">
        <%= f.submit "Update", class: 'btn btn-success' %>
      </div>
    <% end %>

    <h4>Cancel my account</h4>
    <p>Cancelling your account means your gift list, preferences, and events calendar will be deleted, and you will no longer have access to your friends' gift lists and preferences.</p>
    <div class="form-group">
        <p><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger' %></p>
    </div>
  </div>
</div>