 <p>
    <strong>Birthday:</strong>
    <%= user.user_profile.birthdate %>
  </p>

  <p>
    <strong>Favorite color:</strong>
    <%= user.user_profile.favorite_color %>
  </p>

  <p>
    <strong>Favorite small gifts:</strong>
    <%= user.user_profile.favorite_small_gifts %>
  </p>

  <p>
    <strong>Desired gift cards:</strong>
    <%= user.user_profile.desired_gift_cards %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= user.user_profile.notes %>
  </p>
  <br>
