 <p>
    <span class="profile-label">Birthday:</span>
      <% if user.user_profile.birthdate %>
        <%= user.user_profile.birthdate.strftime("%B %d") %>
      <% else %>
        Not given
      <% end %>
  </p>

  <p>
    <span class="profile-label">Favorite color:</span>
    <%= user.user_profile.favorite_color %>
  </p>

  <p>
    <span class="profile-label">Favorite small gifts:</span>
    <%= user.user_profile.favorite_small_gifts %>
  </p>

  <p>
    <span class="profile-label">Desired gift cards:</span>
    <%= user.user_profile.desired_gift_cards %>
  </p>

  <p>
    <span class="profile-label">Notes:</span>
    <%= user.user_profile.notes %>
  </p>
