<% if user.claimed_items.count >= 1 %>
  <p>You've claimed <%= user.claimed_items.count %> items:</p>
  <div class="table-responsive">
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Friend</th>
          <th>Item</th>
          <th>Size</th>
          <th>Details</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% user.claimed_items.each do |item| %>
            <tr>
                <td><%= item.user.name %></td>
                <td><%= item.name %></td>
                <td><%= item.size %></td>
                <td><%= item.notes %></td>
                <td class='claim'><%= render partial: 'claims/claim_short', locals: {item: item, user: user } %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p class="text-center no-items">You don't have any claimed items.</p>
<% end %>
