<h1 class="text-center"><%= @user.name %></h1>

<h3><%= @user.name %>'s Preferences</h3>

  <%= render "profile", user: @user %>

<h3><%= @user.name %>'s Items</h3>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Notes</th>
      </tr>
    </thead>

    <tbody>
      <% @user.items.each do |item| %>
        <tr>
          <td><%= link_to "#{item.name}", item %></td>
          <td><%= item.size %></td>
          <td><%= item.notes %></td>
          <td><% unless current_user == item.user %>
                <%= render partial: 'claims/claim_short', locals: {item: item, user: current_user } %>
              <% end %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

