<h2><%= @user.name %>'s Profile</h2>

<%= render "profile", user: @user %>

 
<h3>My Items</h3>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Size</th>
      <th>Notes</th>
</tr>
  </thead>

  <tbody>
    <% @user.items.each do |item| %>
      <tr>
        <td><%= link_to "#{item.name}", item %></td>
        <td><%= item.size %></td>
        <td><%= item.notes %></td>
    <% end %>
  </tbody>
</table>

