<h1 class="text-center">Welcome to Wrapt!</h1>
  <br>

<!-- Reminders to update name, complete profile, and add birthday -->
<% unless current_user.profile_complete? %>
  <div class="reminder-box">
    <h5>Reminders from the Wrapt team:</h5>
      <ul>
        <% if current_user.name == current_user.email %>
          <li>By default, your name was set to your email address. <%= link_to "Click here to update your name.",edit_user_registration_path %></li>
        <% end %>

        <% unless current_user.user_profile %>
          <li>Don't forget to <%= link_to "fill out your profile", new_user_profile_path %> to help your friends pick great gifts for you! </li>

        <% else %>
            <% if current_user.user_profile.birthdate.nil? %>
              <li>Don't forget to <%= link_to "add your birthday", edit_user_profile_path(current_user) %> so your friends can plan for it!
                <br></li>
             <% end %>
        <% end %>
       </ul>
  </div>
<% end %>

<!-- List of Upcoming Birthdays, Add Friend Form
 -->
 <div class="col-md-4">
  <div class="birthday">
    <%= render partial: 'users/birthdays', locals: { user: current_user, upcoming_birthdays: @upcoming_birthdays } %>
  </div>
  <br>

  <div class="add-friend text-center">
    <h4>Friends</h4>
    <p>You've shared your gift list with <%= current_user.buddies.count %> friends so far.</p>
    <h5><%= link_to "View all my friends.", friendships_path %></h5>
      <h5>To add a friend, just enter their email: </h5>
        <%= form_for(Friendship.new) do |f| %>
          <div class="form-group">
            <%= text_field_tag 'email', '', size: 20 %>
            <%= f.submit "Add", class: 'btn btn-sm btn-success' %>
          </div>
        <% end %>
    <p>Friends you add can see your gift list and profile.</p>
  </div>
</div>

<!-- Item Count, Shopping List and Notes -->
<div class="col-md-8">
  <h4 class="text-center">You have <%= current_user.items.count %> items in your gift list. <%= current_user.user_profile ? (link_to "Add items to my list.", new_item_path(redirect: true)) : (link_to "Start by creating a profile.", new_user_profile_path) %></h4>

  <div class="shop">
    <h4 class="text-center">My Shopping List</h4>
    <%= render partial: 'users/shopping_list', locals: { user: current_user } %>
  </div>

  <div class="notes">
    <div class="text-center">
      <h4>My Notes</h4>
      <p>Add all your great gift ideas here!</p>
      <p><%= link_to "New Note", new_note_path, class: 'btn btn-sm btn-success' %></p>
    </div>
    <%= render partial: 'notes/note' %>
  </div>
</div>
