<div class="text-center">
  <h1>Welcome to Wrapt!</h1>
    <h2>My Dashboard</h2>
  <br>

  <% unless current_user.user_profile %>
    <h4><%= current_user.name %>, you still need to fill out your profile to help your friends pick great gifts for you! <br><br><%= link_to "Fill Out My Profile", new_user_profile_path %></h4>

  <% else %>
      <% if current_user.user_profile.birthdate.nil? %>
        <h4>Don't forget to add your birthday so your friends can plan for it! 
          <br><%= link_to "Update My Profile", edit_user_profile_path(current_user) %></h4>
       <% end %>
      <h3><%= link_to "Update My Profile", edit_user_profile_path(current_user) %></h3>

  <% end %>

</div>  

<div class="row">
  <div class="col-md-4">
    <%= render partial: 'users/birthdays', locals: { user: current_user, upcoming_birthdays: @upcoming_birthdays } %>
  </div>

  <div class="col-md-4">
    <%= render partial: 'users/shopping_list', locals: { user: current_user } %>
  </div>
</div>
