<h1>My Profile</h1>

<p>
  <strong>Birthday:</strong>
  <%= @user_profile.birthday %>
</p>

<p>
  <strong>Favorite color:</strong>
  <%= @user_profile.favorite_color %>
</p>

<p>
  <strong>Favorite small gifts:</strong>
  <%= @user_profile.favorite_small_gifts %>
</p>

<p>
  <strong>Desired gift cards:</strong>
  <%= @user_profile.desired_gift_cards %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @user_profile.notes %>
</p>
<br>

<% if current_user == @user %>
  <%= link_to "Edit My Profile", edit_user_profile_path, class: 'btn btn-success' %>
<% end %>


