<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Don't forget to buy <%= @item.name %>!</h3>
      <p>7 days ago you claimed <%= @friend.name %>'s item, <%= @item.name %>. We know you've got a lot going on and just wanted to remind you about this item. </p>
      <p>If you already bought <%= @item.name %>, great job! If you no longer plan to buy it, please release your claim on the item so that others know they are free to buy it for <%= @friend.name %>.</p>
      <p>Happy gifting!</p>
      <p>The Wrapt Team</p>
    <br>
    <p>
    <%= link_to "View my claimed items", welcome_dashboard_url(@user) %> | 
    <%= link_to "Update my claim", profile_user_url(@friend) %> | 
    <%= link_to "View #{@item.name} on #{@friend.name}'s list", profile_user_url(@friend) %>
    </p>
  </body>
</html>