<h1>All Items</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Size</th>
      <th>Notes</th>
      <th>Edit Item</th>
      <th>Delete Item</th>
      <th>Restrict Viewers</th>
</tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to "#{item.name}", item %></td>
        <td><%= item.size %></td>
        <td><%= item.notes %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to restrictions_item_path(item.id), class: 'btn btn-danger' do %><i class="glyphicon glyphicon-eye-close"></i><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path, class: 'btn btn-success' %>
