<h2><%= @item.name %></h2>

<p>
  <strong>Size:</strong>
  <%= @item.size %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @item.notes %>
</p>

<p>
  <strong>For:</strong>
  <%= @item.user.name %>
</p>

<% unless current_user = @item.user %>
  <%= render partial: 'claims/claim', item: @item  %>
<% end %>

<%= link_to "Edit", edit_item_path(@item), class: 'btn-btn success' %> |
<%= link_to 'Back', items_path, class: 'btn-btn success' %>
